* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.header img {
  width: 50px;
}

.trybewarts-login {
  display: flex;
  flex-flow: row wrap;
}

.trybewarts-login-input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(103, 67, 136);
  color: white;
  cursor: pointer;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;

}

#evaluation-form h1 {
  display: flex;
  justify-content: center;
  font-weight: 800;
}

.formulario {
  display: flex;
  border-radius: 10px;
  border: none;
  outline: none;
  flex-wrap: wrap;
}

.formulario input , .formulario div {
  width: 40%;
  border-radius: 10px;
  border: none;
  margin: 5px;
}

.formulario input {
  padding: 14px;
}

#house {
  width: 85%;
  height: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: white;
  padding: 10px;
}

main {
  display: flex;
  background-color: rgb(217, 220, 223);
  justify-content: space-around;
}

#label-rate {
  display: flex;
  margin-left: 5px;
  margin-top: 10px;
}

.textarea {
  margin-left: 5px;
}

#rate1 {
  margin-left: 20px;
}

.label-rate {
  letter-spacing: 3px;
}

.label-rate input {
  margin: 10px;
}

#agree-check {
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
}

#agreement {
  margin-left: 10px;
  margin-top: 5px;
}

#submit-btn {
  margin-top: 10px;
  margin-bottom: 20px;
}

#secao-de-conteudos {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

#secao-familia {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
}

#conteudos {
  display: flex;
  flex-wrap: wrap;
}

#conteudos span {
  width: 33%;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  background-color: rgb(19, 68, 59);
  color: lightgray;
  text-align: center;
}
