* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    background-color: #32a791;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    
}

#header img {
    width: 50px;
}


#evaluation-form{
    display: flex;
    flex-direction: column;
    width: 675px;
    
    
}

main{
    display: flex;
}

#label-rate{
    display: flex;
    margin-left: 5px;
    margin-top: 10px;
}

#comment{
    margin-left: 5px;
    margin-top: 10px;
}

textarea{
    margin-left: 5px;
}

#rate1{
    margin-left: 20px;
}

input[type="radio"]{
    margin: 2px;
}

#agree-check{
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    
}

#agreement{
    margin-left: 10px;
    margin-top: 5px;
}



#submit-btn{
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
        background-color: rgb(19, 68, 59);
        color: lightgray;
        text-align: center;
    }
